/* Checkout page and checkout success*/

h2 {
  padding-top: 0;
  padding-bottom: 20px;
  font-size: 1.5em;
}

.checkout,
.checkout-success {
  max-width: calc(100% - 7%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 20px;
}

.checkout {
  display: flex;
  flex-direction: column;
}

.checkout img {
  width: 100%;
}

.checkout-sections {
  background-color: #d9e2d9;
  max-width: 800px;
}

.checkout-items,
form div {
  margin-bottom: 10px;
}

.checkout-info label {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkout-info input {
  margin: 10px 0;
}

.checkout-items__container {
  display: flex;
  flex-direction: row;
}

.checkout-items__images {
  max-width: 150px;
}

.checkout-items__details {
  margin-left: 20px;
}

.checkout-items__details h3 {
  padding-bottom: 10px;
}

.checkout-items,
.checkout-info,
.checkout-delivery,
.checkout-payment,
.checkout-summary {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.checkout-info div,
.checkout-delivery div,
.checkout-payment div,
.checkout-summary div,
.view-order div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.checkout-info div {
  margin: 0;
  gap: 10px;
}

hr {
  border: 0;
  border-bottom: 1px solid #425c42;
}

.cta-long {
  margin: 20px;
  max-width: 500px;
}

.checkout-success {
  background-color: #d9e2d9;
  padding: 30px;
  text-align: center;
  max-width: 800px;
  margin-top: 80px;
}

.view-order {
  max-width: 500px;
  margin: 10px auto;
}

.view-order-title {
  margin: 30px auto;
}

.exit {
  float: right;
  font-size: 2em;
  color: #425c42;
  transition: 0.3s;
}

.exit:hover {
  color: #fff;
  transition: 0.3s;
}
