h2 {
  padding-top: 0;
  padding-bottom: 20px;
  font-size: 1.5em;
}

.checkout {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 7%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 20px;
}

.checkout img {
  width: 100%;
}

.checkout-sections {
  background-color: #d9e2d9;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.checkout-items,
form div {
  margin-bottom: 10px;
}

.checkout-items {
  width: 100%;
}

.checkout-info label {
  display: none;
}

.checkout-info input {
  margin: 10px 0;
}

.checkout-items__container {
  display: flex;
  flex-direction: row;
}

.checkout-items__images {
  max-width: 150px;
}

.checkout-items__details {
  margin-left: 20px;
}

.checkout-items__details h3 {
  padding-bottom: 10px;
}

.checkout-items,
.checkout-info,
.checkout-delivery,
.checkout-payment,
.checkout-summary {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.checkout-info span,
.checkout-delivery span,
.checkout-payment span,
.checkout-summary span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-delivery span,
.checkout-payment span,
.checkout-summary span {
  margin: 10px;
}

.checkout-info span {
  gap: 10px;
}

.divider {
  border-bottom: 1.5px solid #425c42;
}
