main {
  padding-top: 50px;
}

.new-arrivals {
  display: grid;
  background: url(../images/new-arrivals.jpg) center bottom/cover no-repeat;
  min-height: 70vh;
  position: relative;
  max-width: calc(100% - 7%);
  margin-left: auto;
  margin-right: auto;
}

.featured-products,
.featured-categories {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  max-width: calc(100% - 7%);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.featured-products div {
  display: flex;
  flex-direction: column;
}

.categories {
  display: inline-grid;
}

.featured-products img,
.featured-categories img {
  width: 100%;
}

.featured-products img {
  object-fit: cover;
  aspect-ratio: 4 / 5;
  order: 1;
}

.featured-products h3 {
  order: 2;
}

.product-price {
  order: 3;
}
