@media screen and (min-width: 400px) {
  .featured-products,
  .featured-categories,
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .new-arrivals {
    width: 100%;
  }

  .back-button {
    margin-top: 45px;
  }

  .product-details-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  footer div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 20px;
  }

  footer .links {
    float: left;
    margin: 3.5rem auto auto auto;
    text-align: right;
  }

  footer .social {
    float: right;
    margin: 3rem auto auto auto;
    bottom: 0;
    text-align: left;
  }

  footer .links li {
    display: inline-block;
  }
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 800px) {
  header {
    margin: 0;
    text-align: left;
    position: relative;
  }

  header label {
    display: none;
  }

  .logo {
    padding-left: 50px;
  }

  nav {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    background-color: #fff;
  }

  nav div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: relative;
  }

  .nav__product-categories {
    display: flex;
    flex-direction: row;
    order: 1;
    flex: 1;
  }

  .nav__product-categories li {
    padding-right: 20px;
  }

  .search {
    flex-grow: 1;
    text-align: center;
    order: 2;
    flex: 2;
  }

  .info {
    flex-direction: row;
    justify-content: right;
    flex-wrap: nowrap;
    order: 3;
    flex: 1;
    text-align: right;
    padding-bottom: 0;
  }

  .dropdown {
    background-color: #d9e2d9;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    width: 10rem;
    padding: 1rem 3rem;
    display: none;
    z-index: 1;
  }

  .dropdown__jackets {
    display: block;
  }

  .featured-products,
  .featured-categories,
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .nav__breadcrumb li {
    padding-top: 50px;
  }

  .nav__breadcrumb {
    padding-top: 0;
  }

  .product-specific {
    flex-direction: row;
  }
  .product-details {
    margin: 0;
    margin-left: 10px;
  }
}

@media screen and (min-width: 910px) {
  .checkout-items {
    width: 100%;
  }

  .checkout-sections {
    margin-left: auto;
    margin-right: auto;
  }

  .product-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
  }

  .product-image-display {
    max-width: 500px;
  }
}

@media screen and (min-width: 1030px) {
  .about-container {
    flex-direction: row;
  }

  .about-container img {
    width: 400px;
    margin-right: 10px;
  }

  .about-container p {
    width: 300px;
  }

  .about-details {
    width: 50%;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 20px;
    width: 400px;
  }
}
