h1 {
  padding: 0;
}

h2 {
  text-align: left;
  font-size: 1.2em;
}

.product-specific {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  margin-bottom: 50px;
  padding: 80px 50px;
}

.product-image {
  max-width: 700px;
}

.product-specific img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 5;
}

.product-details {
  background-color: #d9e2d9;
  padding: 30px;
  margin-top: 10px;
}

.product-details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.product-specific-price {
  font-size: 1.5em;
}

.size-select {
  padding-top: 30px;
  margin: 10px 0;
}
