/* Products page*/

.products-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  gap: 10px;
  max-width: calc(100% - 7%);
  margin: 20px auto;
  margin-bottom: 50px;
}

.products-container div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.products-container img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4 / 5;
  order: 1;
}

h2 {
  font-size: 1.2em;
  text-align: left;
  padding: 0;
  order: 2;
}

.product-price {
  order: 3;
}
