.product-specific {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: calc(100% - 7%);
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0;
}

.product-specific img {
  width: 100%;
}

.product-thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}

.product-thumbnails img {
  opacity: 0.5;
}

.product-thumbnails img:hover {
  opacity: 1;
}

.product-details {
  background-color: #d9e2d9;
  padding: 30px;
  margin-top: 10px;
}

.product-details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.product-specific-price {
  font-size: 1.5em;
}

.product-details p {
  margin: 30px 0;
}

select {
  margin: 10px 0;
}
