* {
  margin: 0;
  padding: 0;
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
}

main {
  max-width: 1500px;
  margin: auto;
  min-height: 80vh;
}

h1,
h2 {
  text-align: center;
  padding-top: 40px;
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

.section-titles {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Links */

a,
li {
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 1em;
}

.info li a,
.dropdown__jackets li a,
footer a,
.nav__breadcrumb li,
.nav__breadcrumb li a {
  color: #425c42;
  font-weight: 400;
}

.nav__product-categories a {
  font-weight: 500;
}

/* Active */

nav ul li:hover > ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav__breadcrumb li a:hover,
.info li:hover,
.dropdown__jackets li:hover,
footer a:hover {
  font-style: italic;
}

.cta:hover,
.cta-small:hover {
  background-color: #d9e2d9;
  color: #425c42;
  transition: 0.3s;
}

.nav__product-categories li:hover,
.featured-products div:hover > h3,
.products-container div:hover > h2 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.cta-long:hover {
  background-color: #fff;
  color: #425c42;
}

/* Navbar */

header {
  margin: 0;
  text-align: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 9999;
  top: 0;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.hamburger {
  float: left;
  font-size: 25px;
  padding-top: 37px;
  padding-left: 50px;
}

.cart {
  height: 28px;
  float: right;
  padding-top: 33px;
  padding-right: 50px;
}

.logo {
  height: 50px;
  margin-top: 10px;
}

nav {
  display: none;
}

nav div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #d9e2d9;
  width: 100%;
}

nav ul {
  list-style: none;
}

nav li {
  display: block;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.nav__product-categories {
  display: flex;
  flex-direction: column;
  order: 2;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  order: 3;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.info li {
  padding-left: 20px;
}

.dropdown {
  display: block;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 0 30px;
}

.dropdown__jackets {
  display: none;
  margin-left: 70px;
}

.dropdown li {
  clear: both;
  width: 100%;
  padding: 10px;
}

.search-container {
  width: 90%;
  max-width: 400px;
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #425c42;
  border: none;
  border-bottom: 2px solid #425c42;
  background-color: transparent;
}

.search {
  order: 1;
  width: 100%;
  margin: 15px 0;
}

.search-container:focus {
  outline: none;
}

.search-submit {
  border: none;
  color: #425c42;
  background-color: transparent;
  cursor: pointer;
}

::placeholder {
  color: #425c42;
  opacity: 1;
  padding-left: 5px;
}

/* Page nav*/

.nav__breadcrumb {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 50px;
  padding-top: 50px;
}

.nav__breadcrumb li {
  padding-right: 15px;
  padding-top: 40px;
}

.back-button {
  margin-left: 50px;
  margin-top: 40px;
  font-size: 1.7em;
  position: absolute;
  z-index: 666;
}

/* CTA */

.cta,
.cta-small {
  background-color: #425c42;
  color: #fff;
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  justify-self: center;
  align-self: center;
  transition: 0.3s;
}

.cta-long,
.cta-form {
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  border: 1.5px solid #425c4266;
  transition: 0.3s;
  cursor: pointer;
}

.cta-long {
  text-align: center;
  background-color: #425c42;
  color: #fff;
}

.cta-form {
  background-color: #fff;
  color: #425c42;
  text-align: left;
  padding-left: 5px;
}

.product-details .cta-form {
  display: block;
}

/* Footer */

footer {
  clear: both;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #d9e2d9;
  height: 200px;
}

footer div {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.links,
.social {
  text-align: center;
  flex-direction: row;
}

.links li,
.social li {
  display: inline-block;
  padding: 1rem;
}

footer .links li {
  display: block;
}
