* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Bodoni Moda", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5em;
}

h2,
p {
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  color: #000;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

/* Links */

a {
  font-family: "Bodoni Moda", Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  text-decoration: none;
}

.info li a,
.dropdown__jackets li a,
footer a {
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  color: #425c42;
}

/* Navbar */

header {
  margin: 0;
  text-align: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.mobile-cart {
  display: inline-block;
  height: 30px;
}

.cart {
  display: none;
  height: 30px;
}

.logo {
  height: 50px;
  margin-top: 10px;
}

nav {
  display: none;
}

nav div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #d9e2d9;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  color: #000;
  display: block;
  padding: 1rem;
  padding-left: 0;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.products {
  display: flex;
  flex-direction: column;
  order: 2;
  width: 100%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  order: 3;
  width: 100%;
  justify-content: center;
}

.info li {
  width: 100%;
}

.dropdown {
  display: block;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 0 30px;
}

.dropdown__jackets {
  display: none;
  margin-left: 70px;
}

.dropdown li {
  clear: both;
  width: 100%;
  padding: 10px;
}

.info li:hover,
.dropdown__jackets li:hover,
footer a:hover {
  text-decoration: none;
  font-style: italic;
}

nav li:hover {
  text-decoration: underline;
}

nav ul li:hover > ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.search-container {
  width: 90%;
  max-width: 400px;
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #425c42;
  border: none;
  border-bottom: 2px solid #425c42;
  background-color: transparent;
}

.search {
  order: 1;
  width: 100%;
  margin: 15px 0;
}

.search-container:focus {
  outline: none;
}

#submit {
  border: none;
  color: #425c42;
  background-color: transparent;
}

::placeholder {
  color: #425c42;
  opacity: 1;
}

/* Home page*/

.new-arrivals {
  display: grid;
  background: url(../images/new-arrivals.jpg) center bottom no-repeat;
  background-size: cover;
  min-height: 80vh;
  position: relative;
  max-width: calc(100% - 7%);
  margin-left: auto;
  margin-right: auto;
}

.cta,
.cta-small {
  background-color: #425c42;
  color: #fff;
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  border: 2.5px solid #425c42;
  justify-self: center;
  align-self: center;
}

.cta:hover,
.cta-small:hover {
  background-color: transparent;
  color: #425c42;
}

.featured-products,
.featured-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 10px;
  max-width: calc(100% - 7%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.popular-products a:hover {
  text-decoration: underline;
}

.categories {
  display: inline-grid;
}
.featured-products img,
.featured-categories img {
  width: 100%;
}

.colour-swatch {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #000;
}

.colour-swatch-one {
  background-color: #000;
}
.colour-swatch-two {
  background-color: #fff;
}

/* Footer */

footer {
  clear: both;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #d9e2d9;
  height: 200px;
}

footer div {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

footer ul li {
  display: inline-block;
  padding: 1rem;
}

footer .links,
footer .social {
  text-align: center;
  flex-direction: row;
}

footer .links li {
  display: block;
}

@media screen and (min-width: 600px) {
  .featured-products,
  .featured-categories {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 2em;
  }

  .new-arrivals {
    width: 100%;
  }

  footer div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 20px;
  }

  footer .links {
    float: left;
    margin: 3.5rem auto auto auto;
    text-align: right;
  }

  footer .social {
    float: right;
    margin: 3rem auto auto auto;
    bottom: 0;
    text-align: left;
  }

  footer .links li {
    display: inline-block;
  }
}

@media screen and (min-width: 800px) {
  header {
    margin: 0;
    text-align: left;
  }

  .logo {
    padding-left: 50px;
  }

  nav {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    background-color: #fff;
  }

  nav div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: relative;
  }

  .products {
    display: flex;
    flex-direction: row;
    order: 1;
    width: 20%;
  }

  .search {
    flex-grow: 1;
    text-align: center;
    order: 2;
    width: 40%;
  }

  .info {
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
    order: 3;
    width: 20%;
  }
  .info li {
    width: 40px;
  }

  .dropdown {
    background-color: #d9e2d9;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    width: 10rem;
    padding: 1rem 3rem;
    display: none;
    z-index: 1;
  }

  .dropdown__jackets {
    display: block;
  }

  .mobile-cart {
    display: none;
  }

  .cart {
    display: inline-block;
  }

  .desktop-cart {
    display: flex;
    justify-content: right;
    order: 4;
    width: 10%;
  }

  main {
    padding-top: 100px;
  }

  .featured-products,
  .featured-categories {
    grid-template-columns: repeat(4, 1fr);
  }
}
