* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Bodoni Moda", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5em;
}

h2,
p {
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  color: #000;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

a {
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #425c42;
}

/* Navbar */

.logo {
  height: 50px;
  margin-top: 10px;
}

.cart {
  height: 30px;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc(100% - 100px);
  margin: 0 auto;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.mobile-logo {
  display: none;
}

.mobile-cart {
  display: none;
}

.nav__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.nav__column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav__column-info {
  align-items: flex-end;
  align-self: flex-end;
}

.nav__column-logo {
  align-self: flex-end;
}

.nav__column-search {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  padding: 1rem;
  flex: 2;
}

.nav__column-cart {
  align-items: flex-end;
  padding: 1rem;
  padding-right: 0;
}

nav li a {
  font-family: "Bodoni Moda", Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  color: #000;
  display: block;
  float: left;
  padding: 1rem;
  padding-left: 0;
  padding-right: 2.7rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.nav__column-info ul li {
  display: block;
  float: right;
  padding: 1rem;
  padding-right: 0;
}

.nav__column-info ul li a,
.dropdown__jackets li a {
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  color: #425c42;
}

.dropdown {
  background-color: #d9e2d9;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  z-index: 1;
}

.dropdown__jackets {
  margin-left: 70px;
}

.dropdown__jackets a {
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
}

.nav__column .dropdown {
  padding: 2rem 3rem;
  margin: 0;
}

.dropdown li {
  clear: both;
  width: 100%;
  padding: 10px;
}

nav li:hover {
  text-decoration: underline;
}

.nav__column-info ul li:hover,
.dropdown__jackets li:hover,
footer a:hover {
  text-decoration: none;
  font-style: italic;
}

nav ul li:hover > ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.search-container {
  width: 400px;
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #425c42;
  border: none;
  border-bottom: 2px solid #425c42;
}

.search-container:focus {
  outline: none;
}

#submit {
  border: none;
  color: #425c42;
  background-color: transparent;
}

::placeholder {
  color: #425c42;
  opacity: 1;
}

/* Home page*/

.new-arrivals {
  display: grid;
  background-image: url(../images/new-arrivals.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  min-height: 80vh;
  position: relative;
  max-width: calc(100% - 7%);
  margin-left: auto;
  margin-right: auto;
}

.cta,
.cta-small {
  background-color: #425c42;
  color: #fff;
  font-family: "futura-pt", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  border: 2.5px solid #425c42;
  justify-self: center;
  align-self: center;
}

.cta:hover,
.cta-small:hover {
  background-color: transparent;
  color: #425c42;
}

.featured-products,
.featured-categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  grid-gap: 10px;
  max-width: calc(100% - 7%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.popular-products a:hover {
  text-decoration: underline;
}

.categories {
  display: inline-grid;
}
.featured-products img,
.featured-categories img {
  width: 100%;
}

.colour-swatch {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #000;
}

.colour-swatch-one {
  background-color: #000;
}
.colour-swatch-two {
  background-color: #fff;
}

/* Footer */

footer {
  clear: both;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #d9e2d9;
  height: 200px;
}

footer div {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

footer ul li {
  display: inline-block;
  padding: 1rem;
}

footer .links,
footer .social {
  text-align: center;
  flex-direction: row;
}

footer .links li {
  display: block;
}

@media screen and (min-width: 400px) {
  header label {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .featured-products,
  .featured-categories {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 2em;
  }

  header label {
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  .new-arrivals {
    width: 100%;
  }

  footer div {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 20px;
  }

  footer .links {
    float: left;
    margin: 3.5rem auto auto auto;
    text-align: right;
  }

  footer .social {
    float: right;
    margin: 3rem auto auto auto;
    bottom: 0;
    text-align: left;
  }

  footer .links li {
    display: inline-block;
  }
}

@media screen and (min-width: 800px) {
  .featured-products,
  .featured-categories {
    grid-template-columns: repeat(4, 1fr);
  }
}
